@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */

/* Estilo para el modo oscuro */
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
  background-color: #1a202c; /* Fondo oscuro */
  color: white; /* Color de texto claro */
}

/* Agrega estilos adicionales para el cambio de colores */
